body{
    background: rgb(238, 236, 236);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style: none
}

.btn{
    background: rgb(213, 211, 211);
    margin: 20px;
}

.add-btn{
    background: rgba(162, 167, 169, 0.304);
    width: 40px;
    height: 20px;
}
.app-title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 70px;
}
.container{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25px;

}
